body{
	font-family: 'Fredericka the Great', cursive;
	font-family: 'Sacramento', cursive;
	font-family: 'Karla', sans-serif;
	font-family: 'Poppins', sans-serif;
	margin:0;
	padding:0;
}



.section{
	width:100%;
	height: 600px;
	position: relative;
}

.section1{
	width:100%;
	height: 550px;
	position: relative;
}

.section2{
	width:100%;
	height: 150px;
	position: relative;
}




#videopage{
	background-color: white;
}

#aboutdown{
	background-color: white;
}

#arrowdown{
	background-color: white;
}

.tdx_green{
	color: #76bf66;
}

.lyft_pink{
	color: #ff00bf;
}

.ford_blue{
	color: #1351d8;
}

.orange{
	color:    #FF8645;
}

.black{
	color: #020202
}



a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight: bold;
  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  font-weight: bold;
  
  } 
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  color:            #7C8786;
  font-weight: bold;

  } 
a:active  {
  /* Applies to activated links */
  text-decoration:  none;
  color: #7C8786;
  font-weight: bold;
  
  } 



#container{
	text-align: center;
	margin-left: 8%;
	width: 50%;
	height: 100%;
	z-index: 40;
	position: absolute;
}

#textbox{
	margin: 0 auto;
	position: relative;
	width: 500px;
	top: 15%;
	left: 10%;
}

#textbox2{
	margin: 0 auto;
	position: relative;
	width: 500px;
	top: 70px;
	left: 36%;
}


.myname{
	font-family: 'Poppins';
	font-weight: 700;
	font-size: 45px;
	z-index: 40;
	color:#4b5469;
}


.subtitle{
	font-family: 'Poppins';
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 3px;
	/* text-align: left; */
	margin-left: 10px;
	margin-top: 40%;
	z-index: 30;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 5px;
	color:#40485a;
}

.subtitle2{
	font-family: 'Karla';
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.25px;
	text-align: justify; */
	margin-left: 10px;
	margin-top: 40%;
	z-index: 30;
	width: 65%;
	padding-top: 10px;
	padding-bottom: 5px;
	color:#40485a;
}

.cover_img_scaled{
	display: inline-block;
	margin-left: 110%;
	margin-top: -95%;
	height: 65%;
	object-fit: cover;
	z-index: 20;
	opacity: .75;
	/*-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	/*filter: grayscale(100%);
	transition:1.25s;
	-webkit-transition:1.25s;
	-moz-transition:1.25s; */
	transition:1.25s;
	-webkit-transition:1.25s;
	-moz-transition:1.25s;
}

.cover_img_scaled:hover{
	 -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;

    transition: 1.25s;
	-webkit-transition:1.25s;
	-moz-transition:1.25s;


}

.arrowimage{
	display: inline-block;
	margin-left: 46%;
	margin-top: 3%;
	height: 100px;
	object-fit: cover;
	z-index: 20;
	opacity: .2;
	transition:1.25s;
	-webkit-transition:1.25s;
	-moz-transition:1.25s;
}

.arrowimage:hover{
	opacity:.6;
	transition:1.25s;
	-webkit-transition:1.25s;
	-moz-transition:1.25s;
}



.cover_img_hover_jquery{
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    opacity:.8;

}


.arrow{
	display: inline-block;
	margin-left: 20%;
	margin-top: 
	height: 30%;
	object-fit: cover;
	z-index: 99;
	opacity: .65;
	
}

#topbar {
	background-color: white;
	/*border:solid;
	border-width:1px;
	border-color:#eeeeee;*/
	position:fixed;
	width:100%;
	height: 80px;
	z-index: 200;
	/*-webkit-box-shadow: 0px 1px 43px -16px rgba(0,0,0,1);
	-moz-box-shadow: 0px 1px 43px -16px rgba(0,0,0,1);
	box-shadow: 0px 1px 43px -16px rgba(0,0,0,1);*/
}


.logo_scaled{
	display: inline-block;
	margin-top: 9px;
	margin-left: 5%;
	height:65px;
}

.logo_scaled:hover{
	
	cursor:pointer;
 -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;

    transition: 1.25s;
	-webkit-transition:1.25s;
	-moz-transition:1.25s;

}

#topbar-items{
	position:absolute;
	margin-left: 60%;
	top:35px;
	z-index: 100;
}
.topbar-text {
	display: inline;
	color: #40485a;
	font-size: 16px;
	letter-spacing:  3px;
	font-weight:300;
	padding-left:50px;
	line-height: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

.topbar-text:hover{
	opacity:0.6;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);


}

.topbar-text-about {
	display: inline;
	color: #40485a;
	font-size: 16px;
	letter-spacing:  3px;
	font-weight:300;
	padding-left:50px;
	line-height: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

.topbar-text-about:hover{
	opacity:0.6;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);


}



.button{
	border-color: #40485a;
	border-radius: 2px;
	border: 1px solid;
	width: 150px;
	height: 40px;
	font-family: 'Karla';
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	color:#40485a;
	z-index: 80;
	line-height: 2.5;
	margin-top: 320px;
	margin-left: 49%;
	cursor:pointer;
	background-color: transparent;
}

.button:hover{
	background-color: #40485a;
	color: white;
	opacity:0.7;
}


.icons{
	margin-left: 42%;
	width: 250px;
	}

.icon_scaled{
	display: inline-block;
	margin-top: 10px;
	padding: 15px;
	height: 40px;
	width: 40px;
	object-fit: cover;
	z-index: 120;
	opacity: .5;
	cursor:pointer;
	transition: .8s;
	-webkit-transition: .8s;
	-moz-transition: .8s;
}

.icon_scaled:hover{
	opacity:.9;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loading.gif) center no-repeat #fff;
}

video{
	position: absolute; 
	z-index:0; 
	top: 20%; 
	margin: 0 auto;
	left: 26%;
}



@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@media(max-width: 500px){
	
	video{
	top: 15%;
}

.button{
	border-color: #40485a;
	border-radius: 2px;
	border: 1px solid;
	width: 150px;
	height: 40px;
	font-family: 'Karla';
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	color:#40485a;
	z-index: 80;
	line-height: 2.5;
	margin-top: 150px;
	margin-left: 49%;
	cursor:pointer;
	background-color: white;
}

.icons{
	margin-left: 23%;

	}


#textbox{
	margin: 0 auto;
	position: relative;
	width: 325px;
	top: 120px;
	left: 5px;
}



.topbar-text {
	
color: #40485a;
	
font-size: 14px;
	
letter-spacing:  3px;
	
font-weight:300;
	
padding-left:75px;
	
line-height: 30px;
	
text-transform: uppercase;
	
padding-right: 40px;
font-weight: bold;
}

.topbar-text-about {
	
color: #40485a;
	
font-size: 14px;
	
letter-spacing:  3px;
	
font-weight:300;
	
padding-left:75px;
	
line-height: 30px;
	
text-transform: uppercase;
	
padding-right: 40px;
font-weight: bold;
}




#topbar{
	height: 100px;
}

.logo_scaled {
    display: inline-block;
    margin-top: 25px;
    margin-left: 5%;
    height: 65px;
}

#topbar-items{
	position:absolute;
	margin-left: 45%;
	top: 5px;
	z-index: 100;
}

.subtitle2 {
	font-size: 14px;
}

}



@media(max-width:1024px) and (min-width:500px){

	.topbar-text {
	display: inline;
	color: #40485a;
	font-size: 16px;
	letter-spacing:  3px;
	font-weight:300;
	padding-left: 30px;
	line-height: 10px;
	text-transform: uppercase;
	font-weight:bold;
}

.topbar-text-about {
	display: inline;
	color: #40485a;
	font-size: 16px;
	letter-spacing:  3px;
	font-weight:300;
	padding-left: 30px;
	line-height: 10px;
	text-transform: uppercase;
	font-weight:bold;
}



	#topbar-items {
    position: absolute;
    margin-left: 50%;
    top: 35px;
    z-index: 100;
}
}

@media (max-width:1440px) and (min-width:1024px) {




	}